.modal {
  display: none;
  width: 0;
  height: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ddd;

}

.controll {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
  &__icon {
    float: left;
    margin: 0 6px;
    cursor: pointer;
  }
}
